@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[16px] font-semibold;
  }
  main {
    @apply px-1 md:px-5;
  }
  h1 {
    @apply text-[24px] my-4;
  }
  h2 {
    @apply text-[20px] my-3;
  }
  h3 {
    @apply text-[18px] my-2;
  }
  p {
    @apply my-2;
  }
  /* Sections */
  section {
    @apply p-5 my-5;
  }
}

@layer components {
  .nav-link {
    @apply flex items-center gap-1 hover:text-customPrimary;
  }
  .cool-link {
    @apply inline-flex items-center gap-1 bg-customPrimary px-2 rounded shadow-md shadow-customPrimary/50 text-white hover:scale-105 duration-200 ease-in-out font-medium;
  }
  .cool-div-container {
    @apply flex flex-col p-5 gap-5;
  }
  .cool-div {
    @apply p-5 rounded-lg shadow-md shadow-customPrimary/50 border-[1px] border-customPrimary;
  }
  .project-container {
    @apply p-5 flex flex-wrap gap-10;
  }
  .project-card {
    @apply rounded-lg custom-shadow w-[400px] transition-transform transform hover:scale-105 ease-in-out duration-300;
  }
  .cool-badge {
    @apply rounded text-[12px] px-2;
  }
  .skills-container {
    @apply p-5 flex flex-wrap gap-7;
  }
  .skill-card {
    @apply px-3 pb-3 rounded-lg custom-shadow min-w-[150px];
  }
  .cert-container {
    @apply flex flex-col p-5 gap-7 lg:flex-row lg:flex-wrap;
  }
  .cert-card {
    @apply p-3 rounded-lg custom-shadow md:min-w-[400px];
  }
  .edu-container {
    @apply flex flex-col p-5 gap-5;
  }
  .edu-card {
    @apply p-3 rounded-lg custom-shadow md:min-w-[400px];
  }
  .exp-container {
    @apply flex flex-col p-5 gap-7;
  }
  .exp-card {
    @apply p-4 rounded-lg shadow-md md:min-w-[400px] custom-shadow;
  }
}

@layer utilities {
  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
